# Azure Cosmos DB
COSMOS_ENDPOINT=your_endpoint
COSMOS_KEY=
COSMOS_DATABASE_NAME=aibasedrecruitment
COSMOS_CONTAINER=users
COSMOS_RESUME_CONTAINER=resumes
COSMOS_JD_CONTAINER=jobdescriptions

# Azure BLOB
AZURE_BLOB_CONNECTION_STRING=
AZURE_INTERVIEW_CONTAINER=interview-files
COSMOS_EVALUATIONS_CONTAINER=evaluations

# Default Avatar Configuration
AVATAR_CHARACTER=lisa
AVATAR_STYLE=casual-sitting
TTS_VOICE=en-US-JennyMultilingualNeural
SPEECH_REGION=eastus
SPEECH_KEY=

# Azure OpenAI
AZURE_OPENAI_CHAT_ENDPOINT=https://aibasedrecruitingassistantopenai.openai.azure.com/
AZURE_OPENAI_CHAT_KEY=
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_CHAT_API_VERSION=2024-12-01-preview
